<div class="container">
            <div class="jumbotron">
               <!--  <div class="title">Laravel 5</div>
                <div clas="quote">{{ Inspiring::quote() }}</div> -->
                <b>SPORTS EVENT TIMING ... =[ Demo context ]=</b>
                <br><hr><br>
                By default, twenty (20) runners are registered for this competition demo, their information (name, surname, etc.) was automatically created using fzaninotto/faker library,
                you can use links on navbar for getting access to: <br><br>
               
                    <li><b>Dashboard:</b> UI, displays in real-time & table form the runners who have entered the finisth corridor.</li>
                    <li><b>Test-Client:</b> UI where you can see a behaviour-simulation of all of those twenty (20) runners during competition, TIMER starts automatically. You can see as a log and as dinamyc sets the chip codes "detected" by each Timing Point.</li>
                    <li><b>API:</b> A small set of available resources implemented on the backend which receives the timing information in real-time.</li>
                    <li><b>=[ Demo context ]=</b> ... this text.</li>        
                <br><hr>
                Interested on more or less runners?, sure, just either edit RunnersTableSeeder.php or seed database twice and you're ready to go, no more changes.
                <hr><br>
                
            </div>
        </div>