<div class="container">
            <div class="jumbotron">
               <!--  <div class="title">Laravel 5</div>
                <div clas="quote">{{ Inspiring::quote() }}</div> -->
                <b>SPORTS EVENT TIMING ... =[ Demo context ]=</b>
                <br><hr><br>
                By default, twenty (20) runners are registered for this competition demo, their information (name, surname, etc.) was automatically created using fzaninotto/faker library,
                you can use links on navbar for getting access to: <br><br>
               
                    <li><b>Dashboard:</b> UI, displays in real-time & table form the runners who have entered the finisth corridor.</li>
                    <li><b>Test-Client:</b> UI where you can see a simulated behaviour of all of those twenty (20) runners during competition, TIMER starts automatically. You can see as a log and as dynamic sets the chip codes "detected" by each Timing Point during the competition.</li>
                    <li><b>API:</b> A small set of available resources implemented on the backend which receives the timing information in real-time.</li>
                    <li><b>=[ Demo context ]=</b> ... this text.</li> 
                    <br>
                    <ul><li><u>Step 1</u>: Clic on Dashboard <u>OR</u> right click and select open in new Window/Tab.</li>
                        <li><u>Step 2</u>: Go back to previous Window/Tab and Clic on Test-Client to start Demo.</li>
                        <li><u>Step 3</u>: Observe interaction and try to clic outside dashboard window and clic back.
                        </li></ul>
                <hr><hr><br>
                
            </div>
        </div>